@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.light-mode {
  padding-right: 1rem;
}

.btn-light-mode {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.search-input, .select-input {
  padding-bottom: 2rem;
}
/* 
.filter-section {
  padding-bottom: 2rem;
} */
